<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Lekuto Paris
        <small><%= link_to 'New Restaurant', new_restaurant_path %></small>
      </h1>
    </div>
    <% @restaurants.each do |restaurant| %>
      <% image_url = "https://kitt.lewagon.com/placeholder/cities/#{restaurant.name}" %>
      <% avatar_url = "https://kitt.lewagon.com/placeholder/users/#{restaurant.name}" %>
      <div class="col-xs-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url %>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
          </div>
          <img class="card-user" src="<%= avatar_url %>">
        </div>
      </div>
    <% end %>
  </div>
</div>
